app = "day-trader-frontend"
primary_region = "ord"

[build]
  dockerfile = "Dockerfile"
  [build.args]
    REACT_APP_API_URL = "https://day-trader-backend.fly.dev"

[env]
  NODE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
